body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xbox-logo {
  font-size: 48px;
  /* You can also use 'Arial Black' or other similar fonts */
  text-align: center;
  /* Xbox Blue color */
  color: #bbb;
  font-family: 'XBOX Original', sans-serif;
  /* White color for text */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}